<div id="tweets" data-stale=<%=@stale%> data-hello="sup" data-bye="later">
  <% if @tweets %>
    <% @tweets.each do |tweet| %>
      <%= tweet.body %><br>
    <% end %>
  <% end %>
</div>
<button id="refresh">Refresh Now!</button>

<div id="waiting" style="display:none"> 
  Please wait for your tweets, sir.
</div>

